body:not(.coverBody) {
    padding-top: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

.page-header{
    padding-bottom: 0px;
    border-bottom: 0px solid #FFFFFF;
    margin-bottom: 0px;
}

.sub-header {
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
}


.navbar-fixed-top {
    border: 0;
    background-color: #0a0a0a;
    font-size: 30px;
    font-family: 'Alegreya Sans', sans-serif;
}



.featurette-divider {
    margin: 10px 0;
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
}


/*
 * Globals
 */

/* Custom default button */
.cover .btn-default,
.cover .btn-default:hover,
.cover .btn-default:focus {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 5px 5px;
    font-weight: normal;
}

.reply .btn-default,
.reply .btn-default:hover,
.reply .btn-default:focus {
    color: #ff5471;
    background-color: #fff;
    border: 1px solid #ff5471;
    padding: 10px 10px;
}


html,
body {
    height: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.inner {
    padding: 30px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .cover-container {
        width: 700px;
    }
}

.coverBody {
    color: #fff;
    text-align: center;
    background-image: url("/img/backgrounds/wood.jpg");
    background-size:cover
}

.coverBody h1{
    font-family: 'Parisienne', cursive;
    font-size: 100px
}

.page-header{
    font-family: 'Parisienne', cursive;
}
.sub-header{
    font-family: 'IM Fell French Canon', serif;
}

.celebration{
    background-color: #FFFFFF;
    color: #492b5a;
    /*font-family: 'Roboto Slab', serif;*/
}

.celebration .marketing{
    background-color: #B3D8EF;
}

.celebration .sub-header{
    border-bottom: 1px solid #FFFFFF;
}

.celebration .featurette-divider{
    color: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.featurette:not(.reply){
    text-align: center;
}

.wedding{
    background-color: #607e73;
    color: #f7f7f4;
    /*font-family: 'Petit Formal Script', cursive;*/
}

.wedding .marketing{
    background-color: #471426;
}


.wedding .sub-header{
    border-bottom: 1px solid #607e73;
    /*font-family: 'Parisienne', cursive;*/
}

.wedding .featurette-divider{
    background-color: #607e73;
    color: #607e73;
    border-color: #607e73;
}

.gift{
    background-color: #3f171c;
    color: #e5e5b3;
    /*font-family: 'Cantarell', sans-serif;*/
}
.gift .marketing{
    background-color: #083648;
}

.gift .text{
    vertical-align: text-bottom;
}

.gift .sub-header{
    border-bottom: 1px solid #3f171c;
}

.gift .featurette-divider{
    background-color: #3f171c;
    color: #3f171c;
    border-color: #3f171c;
}

.reply{
    background-image: url("/img/backgrounds/rsvpBG.png") ;
    color: #ff5471;
    /*font-family: 'Alegreya Sans', sans-serif;*/
}

.reply .marketing{
    background-color: #ffffff;
}

.reply .sub-header{
    border-bottom: 1px solid #090a10;
}

.reply .featurette-divider{
    background-color: #090a10;
    color: #090a10;
    border-color: #090a10;
}

.reply .attendanceLabel{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.reply .attendanceRadio{
    padding-left: 20px;
}

.reply .radio-inline{
    font-size: 18px;
}

li{
    text-align: left;
}

.vertical-align {
    display: flex;
    align-items: center;
}





/*# sourceMappingURL=main.css.map */
